<%= title "Track de " << @track.vendor.name %>
<div class="show">
  <p id="notice"><%= notice %></p>
  <h3> <%= @track.vendor.name %></h3>
  <div class="info-user">

    <p>
      <b>Usuário:</b><br/>
      <%= @track.user.name %>
    </p>

    <p>
      <b>Ip:</b><br/>
      <%= @track.ip %>
    </p>

    <p>
      <b>Action:</b><br/>
      <%= @track.action %>
    </p>
    <% if @track.action.eql? "exit" %>
    <div class="info-trackexit">
      <div class="one-tirth fleft">
        <p>
          <b>To:</b><br/>
          <%= TrackDetail.find_by_track_id(@track.id).url %>
        </p>
      </div>
      <div class="one-tirth fleft">
        <p>
          <b>Type:</b><br/>
          <%= Vendor.find_by_name( TrackDetail.find_by_track_id(@track.id).url).type %>
        </p>
      </div>
      <div class="one-tirth fleft">
        <p>
          <b>Rating Average Price:</b><br/>
          <%= Vendor.find_by_name( TrackDetail.find_by_track_id(@track.id).url).rating_average_price %>
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
    <% end %>
  </div>
  <br/>
  <%= link_to 'Voltar', tracks_path, class: " button-link size-button fleft" %>
  <%= link_to 'Editar', edit_track_path(@track), class: "button-link size-button fleft" %>
</div>