<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="pt-BR"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="pt-BR"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="pt-BR"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="pt-BR"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="pt-BR"><!--<![endif]-->

	<%= render 'layouts/head' %>

	<body id="main" dir="ltr">

		<%= render 'layouts/header' %>

		<div id ="t" class="banner-wrapper">
		  <h2 class="page-heading">Altere a sua senha</h2>
		</div>

		<div class="body clearfix">
			<div class="content-wrapper">
				<div class="content-iframe">
					<div class="form-wrapper">
						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
						  <%= devise_error_messages! %>
						  <%= f.hidden_field :reset_password_token %>
						  <div class="form-row clearfix">
						  	<%= f.label :password, "Nova senha" %><br />
						  	<span class="input-shadow"><%= f.password_field :password %></span>
							</div>
						  <div class="form-row clearfix">
						  	<%= f.label :password_confirmation, "Confirme a nova senha" %><br />
						  	<span class="input-shadow"><%= f.password_field :password_confirmation %></span>
						  </div>
						  <div class="form-row"><%= f.submit "Confirmar" %></div>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<%= render 'layouts/footer' %>

		<!-- here comes the javascript -->
		<%= javascript_include_tag "application" %>
		<%= render 'layouts/analytics' if Rails.env.production? %>
		<%= render 'layouts/tracker' if Rails.env.production? %>
		<%= yield :scripts %>
		<div id="close_lightbox"></div>

	</body>
</html>