<% title @vendor.nil? ? "Orçamentos disponíveis" : "Orçamentos de #{@vendor.name}" %>

<span class="nro-resultados"> <%= pluralize(@quotations.size, "resultado") %></span>
<div id="page-notification">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>
</div>

<table class="table-index quotation-index">
  <tr>
    <th><%= sortable "created_at", "Data" %></th>
    <th><%= sortable "user_id", "ID usuário" %></th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Telefone</th>
    <th>Comentários</th>
    <th>Fornecedor</th>
    <th>Convidados</th>
    <th><%= sortable "wedding_date", "Data do Casamento" %></th>
    <th>E-mail enviado em:</th>
    <th><%= sortable "status", "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @quotations.each do |quotation| %>
    <% vendor = quotation.vendor %>
    <tr>
      <td><%= l quotation.created_at %></td>
      <td><%= quotation.user.id %></td>
      <td><%= quotation.user.name %></td>
      <td><%= quotation.email %></td>
      <td><%= quotation.telephone %></td>
      <td><%= quotation.comments %></td>
      <td><%= link_to vendor.name, orcamentos_path(vendor) %></td>
      <td><%= quotation.number_guests %></td>
      <td><%= l(quotation.wedding_date) if quotation.wedding_date %></td>
      <td><%= quotation.sent_at %></td>
      <td><%= quotation.status %></td>
      <td>
        <% if !vendor.email.blank? %>
            <%= link_to '', send_email_quotation_path(quotation),data: { confirm: 'Você deseja enviar email para o fornecedor ' << vendor.name << ' Email:' << vendor.email }, class: "send-button sprites" %>
        <% end %>
      </td>
      <td><%= link_to '', quotation, class: "show-button sprites" %></td>
      <td><%= link_to '', edit_quotation_path(quotation), class: "edit-button" %></td>
      <td><%= link_to '', quotation, method: :delete, data: { confirm: 'Você tem certeza?' } , class: "remove-button sprites" %></td>
    </tr>
  <% end %>
</table>

<%= paginate @quotations %>
<br />
<% unless @vendor.nil? %>
  <%= link_to 'Página do Fornecedor', vendor_seo_path(@vendor), class: 'button-link size-button fleft' %>
  <%= link_to 'Ver todos os Orçamentos', quotations_path, class: 'button-link size-button fleft' %>
<% end %>

<%= link_to "Voltar", :back, class: "button-link size-button" %>
