<table class="faq">
  <tbody>

    <tr class="even">
      <th>Capacidade </th>
      <td><%= @vendor.details_field3 %></td>
    </tr>

    <tr>
      <th>Cerimônia no local </th>
      <td><%= @vendor.cerimonia? ? "sim"  : "não" %></td>
    </tr>

    <tr class="even">
      <th>Espaço ao ar livre </th>
      <td><%= @vendor.ar_livre? ? "sim"  : "não" %></td>
    </tr>

    <tr>
      <th>Hotel</th>
      <td><%= @vendor.hotel? ? "sim"  : "não" %></td>
    </tr>

    <tr class="even">
      <th>Restaurante</th>
      <td><%= @vendor.restaurante? ? "sim"  : "não" %></td>
    </tr>

    <tr>
      <th>Praia</th>
      <td><%= @vendor.praia? ? "sim"  : "não" %></td>
    </tr>

    <tr class="even">
      <th>Campo</th>
      <td><%= @vendor.campo? ? "sim"  : "não" %></td>
    </tr>

    <tr>
      <th>Faixa de preço</th>
      <td><%= "$"*@vendor.price.to_i %></td>
    </tr>

  </tbody>
</table>
