<div class="field">
  <%= f.check_box :dj %>
  <%= f.label :dj, Band.dj_label %>
</div>

<div class="field">
  <%= f.check_box :banda %>
  <%= f.label :banda, Band.banda_label %>
</div>

<div class="field">
  <%= f.check_box :coral %>
  <%= f.label :coral, Band.coral_label %>
</div>

<div class="field">
  <%= f.check_box :aluguel %>
  <%= f.label :aluguel, Band.aluguel_label %>
</div>