<div class="show">
	<p>
	  <b>Nome:</b>	
	  <%= @photo.name %>
	</p>

	<p>
	  <b>É Capa ?</b>
	  <%= @photo.cover %>
	</p>
	<br/>
	<div id="gallery">
		<a href="<%= @photo.image_url %>"><img data-big="<%= @photo.image_url(:large) %>" alt="<%= @photo.name %>" src="<%= @photo.image_url(:thumb) %>" /></a>
	</div>		
	<% if false %>
		<div class="gallery">
			<div class="sub">
				<div class= "mini">
					<%= image_tag(@photo.image_url(:mini)) %><br />
					<span class="legenda"> Mini </span>
				</div>
				<div class="thumb">
					<%= image_tag(@photo.image_url(:thumb)) %><br />
					<span class="legenda"> Thumb </span>
				</div>
				<div class="large">
					<%= image_tag(@photo.image_url(:large)) %><br />
					<span class="legenda"> Large </span>
				</div>
				<div class="original">
					<%= image_tag(@photo.image_url) %><br />
					<span class="legenda"> Original </span>
				</div>
			</div>
		</div>
	<% end %>
	<div class="clearfix"></div>
	<br />
	<% if can? :update, @photo %>
		<%= link_to 'Editar foto', edit_vendor_photo_path(@vendor, @photo), class: "button-link size-button fleft" %>
	<% end %>
	<%= link_to 'Voltar', vendor_photos_path, class: "button-link size-button fleft" %>
	<br/>
</div>