<% title "Sobre a Bem Casados" %>
<div class="content-wrapper">
  <div class="content">
    <div id="about-us">
      <br />
      <%= image_tag ("vitor-e-carol.png"), class: "left-image" %>
      <h4>Após muito planejar, Vitor e Carol decidiram que a organização do casamento precisava ser mais fácil. Da inspiração original que tiveram em seu próprio casamento, surgiu a Bem Casados.
      A empresa nasceu em Harvard, no laboratório de inovação da Harvard Business School, e acumula crescimento de 300% nos primeiros meses após o lançamento. Recentemente, a Bem Casados foi classificada entre os 10% melhores empreendimentos da competição de planos de negócio de Harvard, mas mais importante do que isso é que somos lembrados com carinho pelo papel que tivemos na realização do sonho do casamento de cada vez mais noivas!</h4>
      <hr>
       <p> <%= image_tag ("up-quotes.png"), class: "up-quotes" %>Nossa missão é tornar a organização do casamento mais prática e prazerosa oferecendo ferramentas que auxiliem os casais modernos a tomarem as melhores decisões para uma festa única e inesquecível. <%= image_tag ("down-quotes.png"), class: "down-quotes" %></p>
      <hr>
      <%= link_to 'Voltar', root_url, class: 'button-link home-button' %>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</div>