<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="pt-BR"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="pt-BR"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="pt-BR"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="pt-BR"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="pt-BR"><!--<![endif]-->

<%= render 'layouts/head' %>

<body id="iframe">

<%= yield %>

<%= javascript_include_tag "application" %>
<%= render 'layouts/analytics' if false %>
<%= yield :scripts %>

</body>
</html>